body {
  background: #e4e4e4;
}

#main {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
}

h1 {
  margin: 5px;
}

#swipeify-slider-container {
  position: relative;
  padding-top: 25px;
}

#slider-container {
  position: relative;
  display: block;
  width: 30%;
  height: auto;
  margin: 0px auto;
}

.song {
    position: relative;
    display: block;
    width: 100%;
    height: 1200px;
    padding: 10px;
    margin: 10px 20px;
    background: #ffffff;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.song .image {
    display: block;
    height:300px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
}

.song .title {
    font-size: 20px;
    text-align: center;
}

#page-container {
    position: relative;
    height: 100%;
}

#song-slider {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

#next-product {
    position: absolute;
    top: 50%;
    right: 600px;
    font-size: 30px;
    cursor: pointer;
}

#prev-product {
    position: absolute;
    top: 50%;
    left: 600px;
    font-size: 30px;
    cursor: pointer;
}