body {
  background: #e4e4e4;
}

#main {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
}

h1 {
  margin: 5px;
}

#container {
  width  : 300px;
  height : 500px;
  margin : auto;
  background-color: #708090;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}